@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aeonik";
  font-weight: 700;
  src: url("../src/assets/font/Aeonik-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Aeonik";
  font-weight: 500;
  src: url("../src/assets/font/Aeonik-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Aeonik";
  font-weight: 400;
  src: url("../src/assets/font/Aeonik-Light.otf") format("opentype");
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Aeonik", sans-serif;
  scroll-behavior: smooth;
}
